:root{
    --ff-size-s: 0.87rem;
    --ff-size-m: 1.15rem;
    --ff-size-l: 1.46rem;
    --ff-size-xl: 2rem;

    --fw-light: 200;
    --fw-normal: 400;
    --fw-bold: 600;

    --ff: Roboto, system-ui;

    --clr-card: rgb(230, 230, 230);
    --clr-primary: rgb(72, 218, 218);
    --clr-heart: rgb(237, 41, 15);
    --clr-dark-grey: rgb(80, 78, 78);
    --clr-light-grey: rgb(162, 162, 162);
}


p{
    font-size: 4rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff);
}

label{
    font-size: var(--ff-size-m);
    font-weight: var(--fw-normal);
    font-family: var(--ff);
}

h1{
    font-size: var(--ff-size-xl);
    font-weight: var(--fw-bold);
    font-family: var(--ff);
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.params{
    display: flex;
    gap: 1rem;
}

.inputName{
    border: 1px solid grey;
    border-radius: .3rem;
    width: 60ch;
}

.main{
    margin-bottom: 4rem;
}

.buttonSearch{
    padding: .75rem;
    background-color: rgb(14, 103, 154);
    border: 0;
    border-radius: .5rem;
    font-weight: var(--ff-size-l);
}

.buttonSearch:hover{
    background-color: rgb(36, 156, 226);
    opacity: .9;
    transform: scale(1.1);
    transition: transform ease-out 150ms;
}

.card{
    /* border: 1px solid red; */
    max-width: 300px;
    position: relative;
}

.star{
    color: yellow;
}

.card{
    background-color: var(--clr-card);
    border-radius: 10px;
    padding: 1rem;
    border-top: .7rem solid var(--clr-primary);
}

.caratula{
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.descripcion{
    font-size: var(--ff-size-s);
    text-wrap: balance;
    text-align: left;
    line-clamp: 4;
}

button{
    background-color: transparent;
    border: 0;
}

.share{
    padding: .2rem;
    filter: drop-shadow(-1px 2px 7px #6b6b6b);
}

.map{
    padding: .2rem;
    filter: drop-shadow(-1px 2px 7px #6b6b6b);
}

.globe{
    padding: .2rem;
    filter: drop-shadow(-1px 2px 7px #6b6b6b);
}

.heart{
    color: var(--clr-heart);
    /* border: 1px solid grey; */
    border-radius: 50%;
    filter: drop-shadow(-1px 2px 7px #6b6b6b);
    padding: .6rem;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: .7rem;
    margin-bottom: .7rem;
}