:root {
  --ff-size-s: 0.87rem;
  --ff-size-m: 1.15rem;
  --ff-size-l: 1.46rem;
  --ff-size-xl: 2rem;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --ff: Roboto, system-ui;
}

p {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff);
}

label {
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
  font-family: var(--ff);
}

h1 {
  font-size: max(6dvw, var(--ff-size-l));
  font-weight: var(--fw-bold);
  font-family: var(--ff);
  text-wrap: balance;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.params {
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}

.inputName {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: clamp(50vw, 65ch, 70vw);
  height: 3ch;
}

.main {
  margin-bottom: 4rem;
}

.buttonSearch {
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--ff-size-l);
}

.buttonSearch:hover {
  background-color: rgb(36, 156, 226);
  opacity: 0.9;
  transform: scale(1.1);
  transition: transform ease-out 150ms;
}

.tarjeta {
  display: flex;
  place-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .params {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
