:root {
  --ff-size-s: 0.87rem;
  --ff-size-m: 1.15rem;
  --ff-size-l: 1.46rem;
  --ff-size-xl: 2rem;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --ff: Roboto, system-ui;
}

html {
  scroll-behavior: smooth;
}

body{
  height: 100%;
  width: auto;
}

p {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff);
}

label {
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
  font-family: var(--ff);
}

h1 {
  font-size: max(4dvw, calc(var(--ff-size-xl)*1.1));
  font-weight: var(--fw-bold);
  font-family: var(--ff);
  text-wrap: balance;
  text-align: center;
}

.main {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.params {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
  gap: 0.7rem;
}

.inputName {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: clamp(50ch, 70ch, 80dvh);
  height: 4ch;
}

.main {
  margin-bottom: 4rem;
}

.buttonSearch {
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--ff-size-l);
}

.submitButton{
  display: flex;
  place-content: center;
  margin-top: .5rem;
}

.buttonSearch:hover {
  background-color: rgb(36, 156, 226);
  opacity: 0.9;
  transform: scale(1.1);
  transition: transform ease-out 150ms;
}

.tarjeta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  place-items: center;
  gap: 3rem;
}

/* CARDFORM CSS */
.update_image{
  display: flex;
  gap: .5rem;
  margin-bottom: 1.25rem;
}

.edit_params{
  display: flex;
  flex-direction: column;
  outline: white solid 2px;
  padding: 1rem;
  outline-offset: 1rem;
  border-radius: 5px;
}

.button_send {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-weight: var(--ff-size-l);
}

.button_counter{
  border: 1px solid white;
  border-radius: 5px;
  padding: .3rem;
}

.button_counter:hover{
  background-color: #807f7f;
}

.button_counter:active{
  transform: scale(0.8);
}

/* END CARDFORM CSS */

/* @media (max-width: 600px) {
  .params {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
} */
