:root {
  --ff-size-s: 0.87rem;
  --ff-size-m: 1.15rem;
  --ff-size-l: 1.46rem;
  --ff-size-xl: 2rem;

  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --ff: Roboto, system-ui;
  --clr-body: rgba(17, 17, 17, 0.793);
}

*{
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 2rem;
  background-color: var(--clr-body);
}

input,
textarea {
  width: 100%;
  display: block;
}

p {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--ff);
}

label {
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
  font-family: var(--ff);
}

h1 {
  font-size: max(4dvw, calc(var(--ff-size-xl) * 1.1));
  font-weight: var(--fw-bold);
  font-family: var(--ff);
  text-wrap: balance;
  text-align: center;
}

.main {
  display: grid;
  place-items: center;
  gap: 1rem;
}

.params {
  display: flex;
  justify-content: center;
  place-items: center;
  flex-direction: row;
  gap: 0.7rem;
  margin-top: 2rem;
}

.inputName {
  border: 1px solid grey;
  border-radius: 0.3rem;
  width: clamp(50ch, 65ch, 80dvh);
  height: 4ch;
  padding: .3rem;
}

.main {
  margin-bottom: 4rem;
}

.tarjeta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  /* grid-template-columns: auto; */
  place-items: center;
  gap: 3rem;
}

/* CARDFORM CSS */
.update_image {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
}

.edit_params {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  /* width: 75%; */
  outline: white solid 2px;
  padding: 1.5rem;
  /* outline-offset: .5rem; */
  border-radius: 5px;
}

.button_send {
  margin-top: 1.5rem;
  padding: 0.75rem;
  background-color: rgb(14, 103, 154);
  border: 0;
  border-radius: 0.5rem;
  font-size: var(--ff-size-m);
  font-weight: var(--fw-normal);
}

.button_send:hover {
  background-color: rgb(30, 155, 228);
  opacity: 0.9;
}

.img_selector {
  display: flex;
  gap: 0.5rem;
}

.button_counter {
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.3rem;
}

.button_counter:hover {
  background-color: #807f7f;
}

.button_counter:active {
  transform: scale(0.8);
}

.categorias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 0.7rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.categorias > div{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}

/* END CARDFORM CSS */

@media (prefers-color-scheme: light) {
  :root {
    --clr-text: rgb(235, 231, 231);
    --clr-card: rgba(198, 198, 198, 0.804);
    --clr-heart: rgb(237, 41, 15);
    --clr-dark-grey: rgb(80, 78, 78);
    --clr-light-grey: rgb(162, 162, 162);
    --clr-shadow: rgba(0, 40, 80, 0.2);
    --clr-links: rgb(42, 119, 164);
    --clr-body: rgb(228, 228, 228);
  }

  p {
    color: var(--clr-text);
  }

  .edit_params {
    background-color: var(--clr-card);
    outline-color: var(--clr-text);
    outline-offset: -10px;
  }

  .button_send {
    color: var(--clr-text);
  }

  .button_counter {
    background-color: var(--clr-light-grey);
    border-color: var(--clr-card);
  }

  /* body{
    background-color: var(--clr-body);
  } */
}

@media (max-width: 650px) {
  .params {
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
    gap: .2rem;
    width: 100%;
    margin-top: 2rem;
  }

  .inputName {
    width: 100%;
  }

  .edit_params {
    width: 80vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
  }


  .edit_params > div:not(.categorias) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 80vw;
  }
  

  .update_image {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
  }

  .tarjeta {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    grid-template-columns: 1fr;
    gap: 3rem;
  }

  .button_send{
    max-width: 80%;
    align-self: center;
  }

  .app{
    width: 100%;
  }
}
